@{
    ViewData["Title"] = "Contatti";
}
<h2>@ViewData["Title"]</h2>

<address>
    Potete contattarmi tramite <strong>email:</strong> <a href="mailto:davidi.matan@gmail.com">davidi.matan@gmail.com</a>
    Guarda altri miei lavori sul mio <a href="samtinfo.ch/i16davmat/web">sito web</a>
</address>
