@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center text-uppercase">Progetto 1</h1>
    <h2 class="text-center">Matan Davidi - 2018</h2>
    <p>Benvenuto all'applicazione web "Progetto 1"</p>
    <p>Questa applicazione permette di registrarsi all'interno di un file CSV</p>
    <p>Premi il pulsante in basso per registrarti</p>
    <input class="btn btn-block" type="button" name="signup" value="Registrati" onclick="window.location.href = '@Url.Action("Index", "Signup")';" />
</div>