
Product/Development/Progetto 1/.vs
Product/Development/Progetto 1/.vs/Progetto 1/v15/.suo
Product/Development/Progetto 1/.vs/Progetto 1/v15/Server/sqlite3/storage.ide-wal
Product/Development/Progetto 1/Progetto 1/bin/Debug/netcoreapp2.0/Progetto 1.dll
Product/Development/Progetto 1/Progetto 1/bin/Debug/netcoreapp2.0/Progetto 1.pdb
Product/Development/Progetto 1/Progetto 1/obj/Debug/netcoreapp2.0/Progetto 1.dll
Product/Development/Progetto 1/Progetto 1/obj/Debug/netcoreapp2.0/Progetto 1.pdb
Product/Development/Progetto 1/Progetto 1/obj/Debug/netcoreapp2.0/Progetto 1.csproj.CoreCompileInputs.cache
Product/Development/Progetto 1/Progetto 1/Progetto 1.csproj.user
Product/Development/Progetto 1/Progetto 1/obj/Debug/netcoreapp2.0/Progetto 1.pdb
Product/Development/Progetto 1/Progetto 1/obj/Debug/netcoreapp2.0/Progetto 1.dll
Product/Development/Progetto 1/Progetto 1/bin/Debug/netcoreapp2.0/Progetto 1.pdb
Product/Development/Progetto 1/Progetto 1/bin/Debug/netcoreapp2.0/Progetto 1.dll
Product/Development/Progetto 1/.vs/Progetto 1/v15/Server/sqlite3/storage.ide-wal
Product/Development/Progetto 1/.vs/Progetto 1/v15/Server/sqlite3/storage.ide
Product/Development/Progetto 1/.vs/Progetto 1/v15/.suo
