@model Progetto_1.Models.User

@{
    ViewData["Title"] = "Registrazione";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<h4>Inserire i propri dati nei campi sottostanti e premere Registrazione per registrarsi.</h4>
<h4>I campi marcati con un <strong class="text-danger">*</strong> sono obbligatori</h4>
<hr />
<div class="row">
    <form asp-action="DataCheck" class="saveForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="FirstName" class="control-label">Nome<strong class="text-danger">*</strong></label>
                <input asp-for="FirstName" class="form-control field" placeholder="John" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="LastName" class="control-label">Cognome<strong class="text-danger">*</strong></label>
                <input asp-for="LastName" class="form-control field" placeholder="Doe" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="Birthday" class="control-label">Data di nascita<strong class="text-danger">*</strong></label>
                <input asp-for="Birthday" class="form-control field" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Address" class="control-label">Indirizzo<strong class="text-danger">*</strong></label>
                <input asp-for="Address" class="form-control field" placeholder="Viale Stazione" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="CivicNumber" class="control-label">Numero civico<strong class="text-danger">*</strong></label>
                <input asp-for="CivicNumber" class="form-control field" placeholder="16" />
                <span asp-validation-for="CivicNumber" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Nap" class="control-label">NAP<strong class="text-danger">*</strong></label>
                <input asp-for="Nap" class="form-control field" placeholder="6900" />
                <span asp-validation-for="Nap" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="City" class="control-label">Città<strong class="text-danger">*</strong></label>
                <input asp-for="City" class="form-control field" placeholder="Lugano" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="PhoneNumber" class="control-label">Numero di telefono<strong class="text-danger">*</strong></label>
                <input asp-for="PhoneNumber" class="form-control field" placeholder="+41 78 945 61 23" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="Email" class="control-label">Indirizzo e-mail<strong class="text-danger">*</strong></label>
                <input asp-for="Email" class="form-control field" placeholder="john.doe@gmail.com" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Gender" class="control-label">Genere<strong class="text-danger">*</strong></label> <br />
                <input asp-for="Gender" class="radio-inline" type="radio" name="gender" value="M" checked /> M
                <input asp-for="Gender" class="radio-inline" type="radio" name="gender" value="F" /> F
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label asp-for="Hobby" class="control-label">Hobby</label>
                <input asp-for="Hobby" class="form-control field" />
                <span asp-validation-for="Hobby" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-group">
                <label asp-for="Job" class="control-label">Professione</label>
                <input asp-for="Job" class="form-control field" />
                <span asp-validation-for="Job" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6 form-group ">
                <input type="button" value="Azzera" class="btn btn-default form-control clear" />
            </div>
            <div class="col-md-6 form-group ">
                <input type="submit" value="Registra" class="btn btn-default form-control save" />
            </div>
        </div>
    </form>
</div>